/* index.html */
.tips {
    color: $color-1;
}

.tip-title {
    margin: 2rem auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 20px;
        line-height: 1.5;
        font-weight: bold;
        margin: 0 $size-M;
    }
}

.title-line {
    height: 3px;
    width: 20%;
    border-top: 1px solid $color-1;
}

.tips {
    padding: $size-XL;
    background-image: $bg-color-2
}

.contents {
    display: flex;
    flex-wrap: wrap;
}

.tips-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 0 1.5%;

    h3 {
        font-size: $font-M;
        margin: $size-L 0;

        @include pad {
            font-size: $font-L;
        }
    }

    p {
        line-height: 1.5;

        @include pad {
            font-size: $font-L;
        }
    }

    @include iphone {
        width: 90%;
        margin-bottom: $size-L;
        margin: $size-L auto;
    }
}

.tips-img img {
    border-radius: 50%;
}


.chef {
    display: flex;
    background: $color-1;
    color: $bg-color-1;

    @include pad {
        display: block;
    }

    img {
        margin-left: 2rem;

        @include pad {
            display: block;
            margin: auto;
            margin-bottom: $size-M;
        }
    }
}



.chef-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 $size-L;
    line-height: 1.5;

    h3,
    .subtitle {
        @include pad {
            text-align: center;
            font-size: $font-L;
        }
    }

    p {
        @include pad {
            font-size: $font-L;
            padding: 5px;
        }
    }

}


.subtitle {
    margin-bottom: $size-L;
}

.comment {
    color: $color-1;
    background-image: linear-gradient(to right, #d7d8c7, #e0e2ce, #e9ebd6, #f3f5dd, #fcffe5);
    padding: $size-XL;

    h2 {
        text-align: center;
        font-size: $font-L;
        font-weight: bold;
        margin: $size-XL 0;
    }
}


.user {
    width: 30%;
    margin: 0 1.5%;

    @include iphone {
        width: 90%;
    }
}

.avatar {
    border-radius: 50%;
    float: left;
}

.name {
    margin-top: 25px;
    margin-left: $size-M;
    float: left;

    @include pad {
        font-size: $font-L;
    }
}

.user-comment {
    float: right;
    margin-left: 75px;
    line-height: 1.5;

    @include pad {
        font-size: $font-L;
    }
}

.title {
    text-align: right;
    margin-top: $size-M;
}

@media (max-width:767px) {
    .user-section {
        display: block;
    }
}

.order {
    color: $color-1;
    padding: $size-XL;
    background: #c6c9cf4e;

    h2 {
        text-align: center;
        font-size: $font-L;
        font-weight: bold;
        margin: $size-XL 0;
        line-height: 1.5;
    }
}

.map {
    margin-right: $size-L;

    @include pad {
        margin: 0;
    }
}

.user-form {
    width: 50%;

    @include pad {
        width: 100%;
    }
}

.send-btn {
    background: $color-2;
}

.cancel-btn {
    background: $color-3
}

.group {
    float: right;
    margin-right: 0.8em;
}