/* index.html */
.tips {
    color: #3D1101;
}

.tip-title {
    margin: 2rem auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 20px;
        line-height: 32px;
        font-weight: bold;
        margin: 0 12px;
    }
}

.title-line {
    height: 3px;
    width: 20%;
    border-top: 1px solid #3D1101;
}

.tips {
    padding: 20px;
    background-image: linear-gradient(to right, #d7d8c7, #e0e2ce, #e9ebd6, #f3f5dd, #fcffe5);
}

.contents {
    display: flex;
    flex-wrap: wrap;
}

.tips-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 0 1.5%;

    h3 {
        font-size: 18px;
        margin: 16px 0;
    }

    p {
        line-height: 1.5;
    }
}

.tips-img img {
    border-radius: 50%;
}

@media (max-width:768px) {
    .tips-content {
        h3 {
            font-size: 22px;
        }

        p {
            font-size: 20px;
        }
    }

}

@media (max-width:767px) {
    .tips-content {
        width: 90%;
        margin-bottom: 16px;
        margin: 16px auto;
    }
}

.chef {
    display: flex;
    background: #3D1101;
    color: #EFE9E7;

    img {
        margin-left: 2rem;
    }
}



.chef-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 80px;
    line-height: 1.5;

    h3 {
        font-size: 20px;
    }
}


.subtitle {
    margin-bottom: 16px;
}

@media (max-width:768px) {
    .chef {
        display: block;
        img{
            display: block;
            margin: auto;
            margin-bottom: 10px;
        }
    }

    .chef-content{
        h3,.subtitle{
            text-align: center;
            font-size: 22px;
        }
        p{
            font-size: 20px;
            padding: 5px;
        }
    }
}


.comment {
    color: #3D1101;
    background-image: linear-gradient(to right, #d7d8c7, #e0e2ce, #e9ebd6, #f3f5dd, #fcffe5);
    padding: 20px;
    h2 {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin: 20px 0;
    }
}


.user {
    width: 30%;
    margin: 0 1.5%;
}

.avatar {
    border-radius: 50%;
    float: left;
}

.name {
    margin-top: 25px;
    margin-left: 10px;
    float: left;
}

.user-comment {
    float: right;
    margin-left: 75px;
    line-height: 1.5;
}

.title {
    text-align: right;
    margin-top: 12px;
}

@media (max-width:768px) {
    .name,
    .user-comment {
        font-size: 20px;
    }
}

@media (max-width:767px) {
    .user-section {
        display: block;
    }

    .user {
        width: 90%;
    }
}

.order {
    color: #3D1101;
    padding: 20px;
    background: #c6c9cf4e;

    h2 {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin: 20px 0;
        line-height: 1.5;
    }
}

.user-form {
    width: 50%;
}

@media (max-width:768px) {
    .user-form {
        width: 100%;
    }
}

.map {
    margin-right: 16px;
}

@media (max-width:768px) {
    .map {
        margin: 0;
    }

}

.center {
    justify-content: center;
}

.send-button {
    background: #F56C23;
}


.cancel-button {
    background: rgba(0, 0, 0, 0.35)
}

.group {
    float: right;
    margin-right: 0.8em;
}