.pure-form-stacked input[type=color],
.pure-form-stacked input[type=date],
.pure-form-stacked input[type=datetime-local],
.pure-form-stacked input[type=datetime],
.pure-form-stacked input[type=email],
.pure-form-stacked input[type=file],
.pure-form-stacked input[type=month],
.pure-form-stacked input[type=number],
.pure-form-stacked input[type=password],
.pure-form-stacked input[type=search],
.pure-form-stacked input[type=tel],
.pure-form-stacked input[type=text],
.pure-form-stacked input[type=time],
.pure-form-stacked input[type=url],
.pure-form-stacked input[type=week]
 {
    width: 98%;
    display: block;
    margin: .5em 0;
    margin-bottom: 0.8em;
    font-size: 20px;
}


.pure-form .pure-radio {
    margin: .5em;
    display: inline-block
}

.pure-button{
    color: #fff;
}

.pure-form legend{
    padding: 0.5em 0;
}

.pure-form fieldset .input-100 {
    width: 100%;
}

.pure-form fieldset .input-75 {
    width: 75%
}

.pure-form fieldset .input-66 {
    width: 66%
}

.pure-form fieldset .input-50  {
    width: 50%
}

.pure-form fieldset .input-33  {
    width: 33%
}

.pure-form fieldset .input-25  {
    width: 25%
}

.pure-form button[type=submit] {
        margin: 0;
}


@media (max-width:768px){
    .pure-form label {
       font-size: 20px;
    }
}

