// color
$color-1:#3D1101;
$color-2:#F56C23;
$color-3:rgba(0, 0, 0, 0.35);
$bg-color-1:#EFE9E7;
$bg-color-2:linear-gradient(to right, #d7d8c7, #e0e2ce, #e9ebd6, #f3f5dd, #fcffe5);;

// font
$font-XL:26px;
$font-L:22px;
$font-M:18px;

// padding & margin
$size-XL:20px;
$size-L:16px;
$size-M:10px;
$size-S:8px;


