@charset "UTF-8";
/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* layout */
body {
  font-family: sans-serif;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.go-top {
  display: none;
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 52px;
}

.clearfix {
  clear: both;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.logo a {
  display: block;
  background: url(../images/logo_w@svg.svg) no-repeat;
  width: 120px;
  height: 24px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.banner {
  background: url(../images/header_desktop.png);
  min-height: 420px;
}

@media (max-width: 767px) {
  .banner {
    background: url(../images/header_mobile.png) center/cover;
  }
}

.slogan {
  width: 90%;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
}

.slogan h2 {
  font-size: 36px;
  margin: 20px 0;
}

.slogan p {
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .slogan {
    font-size: 22px;
  }
}

/* footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#d7d8c7), color-stop(#e0e2ce), color-stop(#e9ebd6), color-stop(#f3f5dd), to(#fcffe5));
  background-image: linear-gradient(to right, #d7d8c7, #e0e2ce, #e9ebd6, #f3f5dd, #fcffe5);
  color: #3D1101;
  line-height: 1.2;
}

footer h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

@media (max-width: 767px) {
  footer {
    display: block;
  }
}

.about {
  width: 40%;
}

@media (max-width: 767px) {
  .about {
    width: 100%;
    display: none;
  }
}

.contact {
  width: 40%;
}

@media (max-width: 767px) {
  .contact li a {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .contact {
    width: 100%;
    margin-bottom: 10px;
    line-height: 1.5;
  }
}

.social-items,
.footer-logo {
  float: right;
  margin: 5px 0;
}

@media (max-width: 767px) {
  .social-items,
  .footer-logo {
    float: none;
  }
}

.contact li a {
  color: #F56C23;
}

.fab {
  margin: 0 5px;
}

.fa-google-plus-square {
  color: #ea6b21;
}

.fa-twitter-square {
  color: #3ebbff;
}

.fa-facebook-square {
  color: #1a37b8;
}

@media (max-width: 767px) {
  .social-icon {
    font-size: 2.5rem;
  }
}

/*!
Pure v2.1.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/pure-css/pure/blob/master/LICENSE
*/
/*!
normalize.css v | MIT License | git.io/normalize
Copyright (c) Nicolas Gallagher and Jonathan Neal
*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
}

.hidden,
[hidden] {
  display: none !important;
}

.pure-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.pure-g {
  letter-spacing: -.31em;
  text-rendering: optimizespeed;
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  table .pure-g {
    display: block;
  }
}

.opera-only :-o-prefocus,
.pure-g {
  word-spacing: -0.43em;
}

.pure-u {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.pure-g [class*=pure-u] {
  font-family: sans-serif;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-1-12,
.pure-u-1-2,
.pure-u-1-24,
.pure-u-1-3,
.pure-u-1-4,
.pure-u-1-5,
.pure-u-1-6,
.pure-u-1-8,
.pure-u-10-24,
.pure-u-11-12,
.pure-u-11-24,
.pure-u-12-24,
.pure-u-13-24,
.pure-u-14-24,
.pure-u-15-24,
.pure-u-16-24,
.pure-u-17-24,
.pure-u-18-24,
.pure-u-19-24,
.pure-u-2-24,
.pure-u-2-3,
.pure-u-2-5,
.pure-u-20-24,
.pure-u-21-24,
.pure-u-22-24,
.pure-u-23-24,
.pure-u-24-24,
.pure-u-3-24,
.pure-u-3-4,
.pure-u-3-5,
.pure-u-3-8,
.pure-u-4-24,
.pure-u-4-5,
.pure-u-5-12,
.pure-u-5-24,
.pure-u-5-5,
.pure-u-5-6,
.pure-u-5-8,
.pure-u-6-24,
.pure-u-7-12,
.pure-u-7-24,
.pure-u-7-8,
.pure-u-8-24,
.pure-u-9-24 {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.pure-u-1-24 {
  width: 4.1667%;
}

.pure-u-1-12,
.pure-u-2-24 {
  width: 8.3333%;
}

.pure-u-1-8,
.pure-u-3-24 {
  width: 12.5%;
}

.pure-u-1-6,
.pure-u-4-24 {
  width: 16.6667%;
}

.pure-u-1-5 {
  width: 20%;
}

.pure-u-5-24 {
  width: 20.8333%;
}

.pure-u-1-4,
.pure-u-6-24 {
  width: 25%;
}

.pure-u-7-24 {
  width: 29.1667%;
}

.pure-u-1-3,
.pure-u-8-24 {
  width: 33.3333%;
}

.pure-u-3-8,
.pure-u-9-24 {
  width: 37.5%;
}

.pure-u-2-5 {
  width: 40%;
}

.pure-u-10-24,
.pure-u-5-12 {
  width: 41.6667%;
}

.pure-u-11-24 {
  width: 45.8333%;
}

.pure-u-1-2,
.pure-u-12-24 {
  width: 50%;
}

.pure-u-13-24 {
  width: 54.1667%;
}

.pure-u-14-24,
.pure-u-7-12 {
  width: 58.3333%;
}

.pure-u-3-5 {
  width: 60%;
}

.pure-u-15-24,
.pure-u-5-8 {
  width: 62.5%;
}

.pure-u-16-24,
.pure-u-2-3 {
  width: 66.6667%;
}

.pure-u-17-24 {
  width: 70.8333%;
}

.pure-u-18-24,
.pure-u-3-4 {
  width: 75%;
}

.pure-u-19-24 {
  width: 79.1667%;
}

.pure-u-4-5 {
  width: 80%;
}

.pure-u-20-24,
.pure-u-5-6 {
  width: 83.3333%;
}

.pure-u-21-24,
.pure-u-7-8 {
  width: 87.5%;
}

.pure-u-11-12,
.pure-u-22-24 {
  width: 91.6667%;
}

.pure-u-23-24 {
  width: 95.8333%;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-24-24,
.pure-u-5-5 {
  width: 100%;
}

.pure-button {
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.pure-button-group {
  letter-spacing: -.31em;
  text-rendering: optimizespeed;
}

.opera-only :-o-prefocus,
.pure-button-group {
  word-spacing: -0.43em;
}

.pure-button-group .pure-button {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: rgba(0, 0, 0, 0.8);
  border: none transparent;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
}

.pure-button-hover,
.pure-button:focus,
.pure-button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.pure-button:focus {
  outline: 0;
}

.pure-button-active,
.pure-button:active {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000;
}

.pure-button-disabled,
.pure-button-disabled:active,
.pure-button-disabled:focus,
.pure-button-disabled:hover,
.pure-button[disabled] {
  border: none;
  background-image: none;
  opacity: .4;
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
  pointer-events: none;
}

.pure-button-hidden {
  display: none;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background-color: #0078e7;
  color: #fff;
}

.pure-button-group .pure-button {
  margin: 0;
  border-radius: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.pure-button-group .pure-button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.pure-button-group .pure-button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: none;
}

.pure-form input[type=color],
.pure-form input[type=date],
.pure-form input[type=datetime-local],
.pure-form input[type=datetime],
.pure-form input[type=email],
.pure-form input[type=month],
.pure-form input[type=number],
.pure-form input[type=password],
.pure-form input[type=search],
.pure-form input[type=tel],
.pure-form input[type=text],
.pure-form input[type=time],
.pure-form input[type=url],
.pure-form input[type=week],
.pure-form select,
.pure-form textarea {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pure-form input:not([type]) {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pure-form input[type=color] {
  padding: .2em .5em;
}

.pure-form input[type=color]:focus,
.pure-form input[type=date]:focus,
.pure-form input[type=datetime-local]:focus,
.pure-form input[type=datetime]:focus,
.pure-form input[type=email]:focus,
.pure-form input[type=month]:focus,
.pure-form input[type=number]:focus,
.pure-form input[type=password]:focus,
.pure-form input[type=search]:focus,
.pure-form input[type=tel]:focus,
.pure-form input[type=text]:focus,
.pure-form input[type=time]:focus,
.pure-form input[type=url]:focus,
.pure-form input[type=week]:focus,
.pure-form select:focus,
.pure-form textarea:focus {
  outline: 0;
  border-color: #129fea;
}

.pure-form input:not([type]):focus {
  outline: 0;
  border-color: #129fea;
}

.pure-form input[type=checkbox]:focus,
.pure-form input[type=file]:focus,
.pure-form input[type=radio]:focus {
  outline: thin solid #129FEA;
  outline: 1px auto #129FEA;
}

.pure-form .pure-checkbox,
.pure-form .pure-radio {
  margin: .5em 0;
  display: block;
}

.pure-form input[type=color][disabled],
.pure-form input[type=date][disabled],
.pure-form input[type=datetime-local][disabled],
.pure-form input[type=datetime][disabled],
.pure-form input[type=email][disabled],
.pure-form input[type=month][disabled],
.pure-form input[type=number][disabled],
.pure-form input[type=password][disabled],
.pure-form input[type=search][disabled],
.pure-form input[type=tel][disabled],
.pure-form input[type=text][disabled],
.pure-form input[type=time][disabled],
.pure-form input[type=url][disabled],
.pure-form input[type=week][disabled],
.pure-form select[disabled],
.pure-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

.pure-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

.pure-form input[readonly],
.pure-form select[readonly],
.pure-form textarea[readonly] {
  background-color: #eee;
  color: #777;
  border-color: #ccc;
}

.pure-form input:focus:invalid,
.pure-form select:focus:invalid,
.pure-form textarea:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}

.pure-form input[type=checkbox]:focus:invalid:focus,
.pure-form input[type=file]:focus:invalid:focus,
.pure-form input[type=radio]:focus:invalid:focus {
  outline-color: #e9322d;
}

.pure-form select {
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: #fff;
}

.pure-form select[multiple] {
  height: auto;
}

.pure-form label {
  margin: .5em 0 .2em;
}

.pure-form fieldset {
  margin: 0;
  padding: .35em 0 .75em;
  border: 0;
}

.pure-form legend {
  display: block;
  width: 100%;
  padding: .3em 0;
  margin-bottom: .3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.pure-form-stacked input[type=color],
.pure-form-stacked input[type=date],
.pure-form-stacked input[type=datetime-local],
.pure-form-stacked input[type=datetime],
.pure-form-stacked input[type=email],
.pure-form-stacked input[type=file],
.pure-form-stacked input[type=month],
.pure-form-stacked input[type=number],
.pure-form-stacked input[type=password],
.pure-form-stacked input[type=search],
.pure-form-stacked input[type=tel],
.pure-form-stacked input[type=text],
.pure-form-stacked input[type=time],
.pure-form-stacked input[type=url],
.pure-form-stacked input[type=week],
.pure-form-stacked label,
.pure-form-stacked select,
.pure-form-stacked textarea {
  display: block;
  margin: .25em 0;
}

.pure-form-stacked input:not([type]) {
  display: block;
  margin: .25em 0;
}

.pure-form-aligned input,
.pure-form-aligned select,
.pure-form-aligned textarea,
.pure-form-message-inline {
  display: inline-block;
  vertical-align: middle;
}

.pure-form-aligned textarea {
  vertical-align: top;
}

.pure-form-aligned .pure-control-group {
  margin-bottom: .5em;
}

.pure-form-aligned .pure-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}

.pure-form-aligned .pure-controls {
  margin: 1.5em 0 0 11em;
}

.pure-form .pure-input-rounded,
.pure-form input.pure-input-rounded {
  border-radius: 2em;
  padding: .5em 1em;
}

.pure-form .pure-group fieldset {
  margin-bottom: 10px;
}

.pure-form .pure-group input,
.pure-form .pure-group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px;
}

.pure-form .pure-group input:focus,
.pure-form .pure-group textarea:focus {
  z-index: 3;
}

.pure-form .pure-group input:first-child,
.pure-form .pure-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

.pure-form .pure-group input:first-child:last-child,
.pure-form .pure-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0;
}

.pure-form .pure-group input:last-child,
.pure-form .pure-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0;
}

.pure-form .pure-group button {
  margin: .35em 0;
}

.pure-form .pure-input-1 {
  width: 100%;
}

.pure-form .pure-input-3-4 {
  width: 75%;
}

.pure-form .pure-input-2-3 {
  width: 66%;
}

.pure-form .pure-input-1-2 {
  width: 50%;
}

.pure-form .pure-input-1-3 {
  width: 33%;
}

.pure-form .pure-input-1-4 {
  width: 25%;
}

.pure-form-message-inline {
  display: inline-block;
  padding-left: .3em;
  color: #666;
  vertical-align: middle;
  font-size: .875em;
}

.pure-form-message {
  display: block;
  color: #666;
  font-size: .875em;
}

@media only screen and (max-width: 480px) {
  .pure-form button[type=submit] {
    margin: .7em 0 0;
  }
  .pure-form input:not([type]),
  .pure-form input[type=color],
  .pure-form input[type=date],
  .pure-form input[type=datetime-local],
  .pure-form input[type=datetime],
  .pure-form input[type=email],
  .pure-form input[type=month],
  .pure-form input[type=number],
  .pure-form input[type=password],
  .pure-form input[type=search],
  .pure-form input[type=tel],
  .pure-form input[type=text],
  .pure-form input[type=time],
  .pure-form input[type=url],
  .pure-form input[type=week],
  .pure-form label {
    margin-bottom: .3em;
    display: block;
  }
  .pure-group input:not([type]),
  .pure-group input[type=color],
  .pure-group input[type=date],
  .pure-group input[type=datetime-local],
  .pure-group input[type=datetime],
  .pure-group input[type=email],
  .pure-group input[type=month],
  .pure-group input[type=number],
  .pure-group input[type=password],
  .pure-group input[type=search],
  .pure-group input[type=tel],
  .pure-group input[type=text],
  .pure-group input[type=time],
  .pure-group input[type=url],
  .pure-group input[type=week] {
    margin-bottom: 0;
  }
  .pure-form-aligned .pure-control-group label {
    margin-bottom: .3em;
    text-align: left;
    display: block;
    width: 100%;
  }
  .pure-form-aligned .pure-controls {
    margin: 1.5em 0 0 0;
  }
  .pure-form-message,
  .pure-form-message-inline {
    display: block;
    font-size: .75em;
    padding: .2em 0 .8em;
  }
}

.pure-menu {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pure-menu-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}

.pure-menu-item,
.pure-menu-list {
  position: relative;
}

.pure-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pure-menu-item {
  padding: 0;
  margin: 0;
  height: 100%;
}

.pure-menu-heading,
.pure-menu-link {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

.pure-menu-horizontal {
  width: 100%;
  white-space: nowrap;
}

.pure-menu-horizontal .pure-menu-list {
  display: inline-block;
}

.pure-menu-horizontal .pure-menu-heading,
.pure-menu-horizontal .pure-menu-item,
.pure-menu-horizontal .pure-menu-separator {
  display: inline-block;
  vertical-align: middle;
}

.pure-menu-item .pure-menu-item {
  display: block;
}

.pure-menu-children {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.pure-menu-horizontal .pure-menu-children {
  left: 0;
  top: auto;
  width: inherit;
}

.pure-menu-active > .pure-menu-children,
.pure-menu-allow-hover:hover > .pure-menu-children {
  display: block;
  position: absolute;
}

.pure-menu-has-children > .pure-menu-link:after {
  padding-left: .5em;
  content: "\25B8";
  font-size: small;
}

.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
  content: "\25BE";
}

.pure-menu-scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

.pure-menu-scrollable .pure-menu-list {
  display: block;
}

.pure-menu-horizontal.pure-menu-scrollable .pure-menu-list {
  display: inline-block;
}

.pure-menu-horizontal.pure-menu-scrollable {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  padding: .5em 0;
}

.pure-menu-horizontal .pure-menu-children .pure-menu-separator,
.pure-menu-separator {
  background-color: #ccc;
  height: 1px;
  margin: .3em 0;
}

.pure-menu-horizontal .pure-menu-separator {
  width: 1px;
  height: 1.3em;
  margin: 0 .3em;
}

.pure-menu-horizontal .pure-menu-children .pure-menu-separator {
  display: block;
  width: auto;
}

.pure-menu-heading {
  text-transform: uppercase;
  color: #565d64;
}

.pure-menu-link {
  color: #777;
}

.pure-menu-children {
  background-color: #fff;
}

.pure-menu-heading,
.pure-menu-link {
  padding: .5em 1em;
}

.pure-menu-disabled {
  opacity: .5;
}

.pure-menu-disabled .pure-menu-link:hover {
  background-color: transparent;
  cursor: default;
}

.pure-menu-active > .pure-menu-link,
.pure-menu-link:focus,
.pure-menu-link:hover {
  background-color: #eee;
}

.pure-menu-selected > .pure-menu-link,
.pure-menu-selected > .pure-menu-link:visited {
  color: #000;
}

.pure-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

.pure-table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}

.pure-table td,
.pure-table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .5em 1em;
}

.pure-table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

.pure-table td {
  background-color: transparent;
}

.pure-table-odd td {
  background-color: #f2f2f2;
}

.pure-table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}

.pure-table-bordered td {
  border-bottom: 1px solid #cbcbcb;
}

.pure-table-bordered tbody > tr:last-child > td {
  border-bottom-width: 0;
}

.pure-table-horizontal td,
.pure-table-horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #cbcbcb;
}

.pure-table-horizontal tbody > tr:last-child > td {
  border-bottom-width: 0;
}

.pure-form-stacked input[type=color],
.pure-form-stacked input[type=date],
.pure-form-stacked input[type=datetime-local],
.pure-form-stacked input[type=datetime],
.pure-form-stacked input[type=email],
.pure-form-stacked input[type=file],
.pure-form-stacked input[type=month],
.pure-form-stacked input[type=number],
.pure-form-stacked input[type=password],
.pure-form-stacked input[type=search],
.pure-form-stacked input[type=tel],
.pure-form-stacked input[type=text],
.pure-form-stacked input[type=time],
.pure-form-stacked input[type=url],
.pure-form-stacked input[type=week] {
  width: 98%;
  display: block;
  margin: .5em 0;
  margin-bottom: 0.8em;
  font-size: 20px;
}

.pure-form .pure-radio {
  margin: .5em;
  display: inline-block;
}

.pure-button {
  color: #fff;
}

.pure-form legend {
  padding: 0.5em 0;
}

.pure-form fieldset .input-100 {
  width: 100%;
}

.pure-form fieldset .input-75 {
  width: 75%;
}

.pure-form fieldset .input-66 {
  width: 66%;
}

.pure-form fieldset .input-50 {
  width: 50%;
}

.pure-form fieldset .input-33 {
  width: 33%;
}

.pure-form fieldset .input-25 {
  width: 25%;
}

.pure-form button[type=submit] {
  margin: 0;
}

@media (max-width: 768px) {
  .pure-form label {
    font-size: 20px;
  }
}

.list {
  margin: 10px 0;
}

@media (max-width: 767px) {
  .list {
    width: 95%;
    margin: 1.2rem auto;
  }
}

.list li {
  border-bottom: 1px solid #3D1101;
}

.list li a {
  color: #3D1101;
  display: block;
  padding: 8px;
}

@media (max-width: 768px) {
  .list li a {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .list li a {
    font-size: 26px;
    text-align: center;
    padding: 12px 0;
  }
}

.list li a:hover {
  background: #3D1101;
  color: #fff;
}

.search {
  position: relative;
  margin-right: 16px;
  float: left;
}

@media (max-width: 767px) {
  .search {
    float: none;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.search-bar {
  border: 2px solid #3D1101;
  background: #EFE9E7;
  height: 35px;
  width: 400px;
  outline: none;
  font-size: 18px;
}

@media (max-width: 767px) {
  .search-bar {
    height: 45px;
    width: 100%;
  }
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: #3D1101;
  outline: none;
  cursor: pointer;
  height: 35px;
  width: 35px;
}

@media (max-width: 767px) {
  .search-btn {
    height: 45px;
    width: 45px;
  }
}

.search-btn i {
  color: #fff;
}

.product {
  font-size: 22px;
  color: #3D1101;
  width: 31.333%;
  margin: 0 1%;
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 10px;
}

@media (max-width: 768px) and (min-width: 568px) {
  .product {
    width: 48%;
  }
}

@media (max-width: 567px) {
  .product {
    width: 90%;
    margin-bottom: 16px;
  }
}

.fa-heart {
  color: #fff;
  cursor: pointer;
  padding: 5px;
  width: 30px;
}

.product-content {
  padding: 12px;
  text-align: center;
  font-size: 18px;
}

@media (max-width: 768px) {
  .product-content {
    font-size: 18px;
  }
}

.cart-btn {
  border: 2px solid #F56C23;
  border-radius: 3px;
  color: #F56C23;
  background: #EFE9E7;
  width: 90%;
  padding: 5px;
}

.cart-btn:hover {
  border: 2px solid transparent;
  color: #fff;
  background: #F56C23;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .menu {
    width: 90%;
    margin: 0 auto;
    display: block;
    /* 隱藏選單 */
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
    /* 固定在網頁上 */
    position: absolute;
    z-index: 100;
    top: 75px;
    left: 0;
    right: 0;
  }
}

@media (max-width: 767px) {
  .menu li {
    text-align: center;
    background: #4c1805;
    border-bottom: 1px solid #FF5E45;
  }
}

.menu li a {
  padding: 18px 12px;
  color: #fff;
  display: block;
}

@media (max-width: 768px) {
  .menu li a {
    font-size: 22px;
  }
}

.menu li a:hover {
  background: red;
}

/*jQ點擊後動態在 body 加上 class */
@media (max-width: 767px) {
  .menu-show .menu {
    max-height: 500px;
  }
}

.ham {
  display: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ham .top {
  stroke-dasharray: 40 121;
}

.ham .bottom {
  stroke-dasharray: 40 121;
}

@media (max-width: 767px) {
  .ham {
    display: block;
  }
}

.ham.active .top {
  stroke-dashoffset: -68px;
}

.ham.active .bottom {
  stroke-dashoffset: -68px;
}

.hamRotate.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamRotate180.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

/* index.html */
.tips {
  color: #3D1101;
}

.tip-title {
  margin: 2rem auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tip-title h2 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  margin: 0 10px;
}

.title-line {
  height: 3px;
  width: 20%;
  border-top: 1px solid #3D1101;
}

.tips {
  padding: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#d7d8c7), color-stop(#e0e2ce), color-stop(#e9ebd6), color-stop(#f3f5dd), to(#fcffe5));
  background-image: linear-gradient(to right, #d7d8c7, #e0e2ce, #e9ebd6, #f3f5dd, #fcffe5);
}

.contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tips-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  margin: 0 1.5%;
}

.tips-content h3 {
  font-size: 18px;
  margin: 16px 0;
}

@media (max-width: 768px) {
  .tips-content h3 {
    font-size: 22px;
  }
}

.tips-content p {
  line-height: 1.5;
}

@media (max-width: 768px) {
  .tips-content p {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .tips-content {
    width: 90%;
    margin-bottom: 16px;
    margin: 16px auto;
  }
}

.tips-img img {
  border-radius: 50%;
}

.chef {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #3D1101;
  color: #EFE9E7;
}

@media (max-width: 768px) {
  .chef {
    display: block;
  }
}

.chef img {
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .chef img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
}

.chef-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 16px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .chef-content h3,
  .chef-content .subtitle {
    text-align: center;
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .chef-content p {
    font-size: 22px;
    padding: 5px;
  }
}

.subtitle {
  margin-bottom: 16px;
}

.comment {
  color: #3D1101;
  background-image: -webkit-gradient(linear, left top, right top, from(#d7d8c7), color-stop(#e0e2ce), color-stop(#e9ebd6), color-stop(#f3f5dd), to(#fcffe5));
  background-image: linear-gradient(to right, #d7d8c7, #e0e2ce, #e9ebd6, #f3f5dd, #fcffe5);
  padding: 20px;
}

.comment h2 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}

.user {
  width: 30%;
  margin: 0 1.5%;
}

@media (max-width: 767px) {
  .user {
    width: 90%;
  }
}

.avatar {
  border-radius: 50%;
  float: left;
}

.name {
  margin-top: 25px;
  margin-left: 10px;
  float: left;
}

@media (max-width: 768px) {
  .name {
    font-size: 22px;
  }
}

.user-comment {
  float: right;
  margin-left: 75px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .user-comment {
    font-size: 22px;
  }
}

.title {
  text-align: right;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .user-section {
    display: block;
  }
}

.order {
  color: #3D1101;
  padding: 20px;
  background: #c6c9cf4e;
}

.order h2 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
  line-height: 1.5;
}

.map {
  margin-right: 16px;
}

@media (max-width: 768px) {
  .map {
    margin: 0;
  }
}

.user-form {
  width: 50%;
}

@media (max-width: 768px) {
  .user-form {
    width: 100%;
  }
}

.send-btn {
  background: #F56C23;
}

.cancel-btn {
  background: rgba(0, 0, 0, 0.35);
}

.group {
  float: right;
  margin-right: 0.8em;
}

/* login.html */
.login-title {
  text-align: center;
}

.login-title p {
  margin: 10px 0;
}

.login-form {
  -webkit-box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.16);
  max-width: 400px;
  margin: 20px auto;
  border-top: 3px solid #F56C23;
  padding: 8px;
}

@media (max-width: 768px) {
  .login-form {
    width: 100%;
  }
}

.input-icon {
  position: relative;
}

.input-icon i {
  position: absolute;
  padding: 16px;
  color: #F56C23;
  opacity: 0.5;
}

.form-link {
  display: block;
  color: #F56C23;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .form-link {
    font-size: 22px;
  }
}

.login-text {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.main-bg {
  background: #EFE9E7;
  padding: 20px;
}

.login-form-btn {
  width: 48%;
}

.btn-group {
  margin-top: 1.5rem;
}

/* register */
.sign-form {
  -webkit-box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.16);
  max-width: 620px;
  margin: 20px auto;
  border-top: 3px solid #F56C23;
  padding: 8px;
}

.manual,
.sign {
  float: left;
  width: 48%;
  margin: 0 1%;
}

@media (max-width: 768px) {
  .manual,
  .sign {
    float: none;
    width: 100%;
    margin: 2%;
  }
}

.sign-form input,
.login-form input {
  text-indent: 1.5rem;
}

.manual {
  line-height: 1.2;
}

.pure-button.send-btn.btn-float-right {
  float: right;
  margin-right: 0.5em;
  font-size: 22px;
}

/* cart.html */
.cart-page {
  color: #3D1101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .cart-page {
    display: block;
  }
}

.sidebar {
  width: 20%;
}

.sidebar h2 {
  font-size: 22px;
}

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
  }
}

.fa-burger {
  margin-right: 8px;
}

.cart-contents {
  width: 100%;
  margin-left: 1%;
}

.shop-cart {
  float: left;
}

@media (max-width: 767px) {
  .shop-cart {
    float: right;
    margin: 1rem 0;
  }
}

.shop-cart p {
  padding-right: 10px;
  margin-top: 8px;
  float: left;
}

@media (max-width: 767px) {
  .shop-cart p {
    font-size: 22px;
  }
}

.shop-cart p::after {
  content: '|';
  margin-left: 12px;
}

.shop-cart i {
  margin-left: 12px;
  cursor: pointer;
  position: relative;
}

@media (max-width: 767px) {
  .shop-cart i {
    font-size: 2.5rem;
  }
}

.shop-cart i:hover {
  color: red;
}

.shop-cart .cart-icon {
  float: left;
}

.cart-icon {
  position: relative;
}

.amount {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #F56C23;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.cart-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0;
}

.food-name {
  height: 50px;
}

.product-1 {
  background: url(../images/product_1.png);
}

.product-2 {
  background: url(../images/product_2.png);
}

.product-3 {
  background: url(../images/product_3.png);
}

.product-4 {
  background: url(../images/product_4.png);
}

.product-img {
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.underline {
  border-bottom: 1px solid #3D1101;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 16px;
  width: 50%;
}

.price {
  margin-bottom: 10px;
  color: red;
}
/*# sourceMappingURL=all.css.map */