/* cart.html */
.cart-page {
    color: $color-1;
    display: flex;

    @include iphone {
        display: block;
    }
}

.sidebar {
    width: 20%;

    h2 {
        font-size: $font-L;
    }

    @include iphone {
        width: 100%;
    }
}


.fa-burger {
    margin-right: $size-S;
}

.cart-contents {
    width: 100%;
    margin-left: 1%;
}


.shop-cart {
    float: left;

    @include iphone {
        float: right;
        margin: 1rem 0;
    }

    p {
        padding-right: $size-M;
        margin-top: $size-S;
        float: left;

        @include iphone {
            font-size: $font-L;
        }
    }

    p::after {
        content: '|';
        margin-left: 12px;
    }

    i {
        margin-left: 12px;
        cursor: pointer;
        position: relative;

        @include iphone {
            font-size: 2.5rem;
        }
    }

    i:hover {
        color: red;
    }

    .cart-icon {
        float: left;
    }
}


.cart-icon {
    position: relative;
}

.amount {
    position: absolute;
    top: -8px;
    right: -8px;
    background: $color-2;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.cart-items {
    display: flex;
    flex-wrap: wrap;
    margin: $size-XL 0;
}

.food-name {
    height: 50px;
}

.product-1 {
    background: url(../images/product_1.png);
}

.product-2 {
    background: url(../images/product_2.png);
}

.product-3 {
    background: url(../images/product_3.png);
}

.product-4 {
    background: url(../images/product_4.png);
}

.product-img {
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.underline {
    border-bottom: 1px solid $color-1;
    margin: 0 auto;
    margin-top: $size-M;
    margin-bottom: $size-L;
    width: 50%;
}

.price {
    margin-bottom: $size-M;
    color: red;
}