/* login.html */
.login-title {
    text-align: center;
}

.login-title p {
    margin: 10px 0;
}

.login-form {
    box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.16);
    max-width: 400px;
    margin: 20px auto;
    border-top: 3px solid $color-2;
    padding: 8px;

    @include pad {
        width: 100%;
    }
}

.input-icon {
    position: relative;

    i {
        position: absolute;
        padding: 15px;
        color: $color-2;
        opacity: 0.5;
    }
}

.form-link {
    display: block;
    color: $color-2;
    margin-top: 10px;

    @include pad {
        font-size: 20px;
    }
}


.login-text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.main-bg {
    background: $bg-color-1;
    padding: 20px;
}

.login-form-btn {
    width: 48%;
}

.btn-group {
    margin-top: 1.5rem;
}