/* login.html */
.login-title {
    text-align: center;
}

.login-title p {
    margin: $size-M 0;
}

.login-form {
    box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.16);
    max-width: 400px;
    margin: $size-XL auto;
    border-top: 3px solid $color-2;
    padding: $size-S;

    @include pad {
        width: 100%;
    }
}

.input-icon {
    position: relative;

    i {
        position: absolute;
        padding: $size-L;
        color: $color-2;
        opacity: 0.5;
    }
}

.form-link {
    display: block;
    color: $color-2;
    margin-top: $size-M;

    @include pad {
        font-size: $font-L;
    }
}


.login-text {
    font-size: $font-M;
    font-weight: bold;
    text-align: center;
}

.main-bg {
    background: $bg-color-1;
    padding: 20px;
}

.login-form-btn {
    width: 48%;
}

.btn-group {
    margin-top: 1.5rem;
}