/* register */
.sign-form {
    box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.16);
    max-width: 620px;
    margin: $size-XL auto;
    border-top: 3px solid $color-2;
    padding: 8px;
}

.manual,
.sign {
    float: left;
    width: 48%;
    margin: 0 1%;

    @include pad {
        float: none;
        width: 100%;
        margin: 2%;
    }
}

.sign-form input,
.login-form input {
    text-indent: 1.5rem;
}

.manual {
    line-height: 1.2;
}

.pure-button.send-btn.btn-float-right {
    float: right;
    margin-right: 0.5em;
    font-size: $font-L;
}