@charset "UTF-8";
/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* layout */
body {
  font-family: sans-serif;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.go-top {
  display: none;
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 52px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

.logo a {
  display: block;
  background: url(/images/logo_w@svg.svg) no-repeat;
  width: 120px;
  height: 24px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li a {
  padding: 13px;
  color: #fff;
  display: block;
}

.menu li a:hover {
  background: red;
}

@media (max-width: 768px) {
  .menu li a {
    font-size: 20px;
  }
}

/* 在PC隱藏漢堡選單 */
.ham {
  display: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ham .top {
  stroke-dasharray: 40 121;
}

.ham .bottom {
  stroke-dasharray: 40 121;
}

.ham.active .top {
  stroke-dashoffset: -68px;
}

.ham.active .bottom {
  stroke-dashoffset: -68px;
}

.hamRotate.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamRotate180.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

@media (max-width: 767px) {
  .menu {
    width: 90%;
    margin: 0 auto;
    display: block;
    /* 隱藏選單 */
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
    /* 固定在網頁上 */
    position: absolute;
    z-index: 100;
    top: 95px;
    left: 0;
    right: 0;
  }
  .menu li {
    text-align: center;
    background: #4c1805;
    border-bottom: 1px solid #FF5E45;
  }
  .menu li a {
    font-size: 20px;
    padding: 1rem;
  }
  .ham {
    display: block;
  }
  /*jQ點擊後動態在 body 加上 class */
  .menu-show .menu {
    max-height: 500px;
  }
}

.banner {
  background: url(/images/header_desktop.png) no-repeat center;
  height: 420px;
}

.slogan {
  width: 90%;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
}

.slogan h2 {
  font-size: 36px;
  margin: 20px 0;
}

.slogan p {
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .slogan p,
  .slogan span {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .banner {
    background: url(/images/header_mobile.png) center/cover;
  }
}

/* footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-image: linear-gradient(to right, #d7d8c7, #e0e2ce, #e9ebd6, #f3f5dd, #fcffe5);
  color: #3D1101;
  line-height: 1.2;
}

footer h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.about,
.contact {
  width: 40%;
}

.social-items,
.footer-logo {
  float: right;
  margin: 5px 0;
}

.contact li a {
  color: #F56C23;
}

.fab {
  margin: 0 5px;
}

.fa-google-plus-square {
  color: #ea6b21;
}

.fa-twitter-square {
  color: #3ebbff;
}

.fa-facebook-square {
  color: #1a37b8;
}

@media (max-width: 767px) {
  footer {
    display: block;
  }
  .about,
  .contact {
    width: 100%;
  }
  .contact {
    margin-bottom: 10px;
    line-height: 1.5;
  }
  .contact li a {
    font-size: 20px;
  }
  .about {
    display: none;
  }
  .footer-logo,
  .social-items {
    float: none;
  }
  .social-icon {
    font-size: 2.5rem;
  }
}
